{% extends 'index.html' %}
{% load static %}


{% block content %}

    <div class="container">
    <div class="row">
        <div>
            <h1><b>About GO | BD</b></h1>
        </div>
        <div>
            <h3>We are a passionate group of young entrepreneurs of Bangladesh, and we are excited to disrupt the world of retail to solve the “Last mile” e-Commerce problem in the country. Our motto is Fastest of Delivery.</h3>
            <br>
            <h3>TA good amount of money has been spent by companies and Facebook entrepreneurs trying to solve the delivery logistics challenges, but past attempts unfortunately have not been succeeded in trustworthy way. We analyzed their failures and errors which made us question to ourselves- “What is it that we can do about it?” From that note we have come up with the best last mile delivery logistics in Bangladesh, which continues to improve and grow.</h3>
            <br>
            <h3>Teamwork is the ability to work together toward a common vision. For the constant growing of our e-commerce industry, we are giving Premium Service to our sellers that would keep the Buyers of theirs’ satisfied as well.</h3>
        </div>

        <div>
            <h2><b>FASTEST AND LOWEST</b></h2>
            <br>
            <h3>Our Team consists of experiences in leading E-commerce companies’. Also, expertise on Delivery logistics, Rider Management and Product Security. We work with a proven upgraded Last Mile operating system which enables the best logistic service in Dhaka.</h3>
            <br>
           
        </div>
    </div>
    </div>
    <br><br><br><br>
{% endblock content %}

{% block others %}
<br><br>
{% endblock others %}
