{% extends 'index.html' %}
{% load static %}


{% block content %}
    <div class="container">
    <div class="row">
        <div>
            <table  class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th><b>Address</b> </th>
                        <th><b>Contact</b></th>
                    </tr>
                </thead>
                    <tr>
                        <td>
                            <h5>GO | BD Logistics</h5>
                            <h5>Level 5, Biswas Builders</h5>
                            <h5>New Market Road, Dhaka - 1205</h5>
                            <h5>Bangladesh</h5>
                        </td>
                        <td>
                            <h5>E-mail: info@gobd.delivery</h5>
                            <h5>Phone: +880 (1749) 658 086</h5>
                            <h5>Phone: +880 (1738) 215 057</h5>
                        </td>

                    </tr>
            </table>
        </div>
    <br><br><br><br>
    </div>
    </div>
{% endblock content %}

{% block others %}
<br><br>
{% endblock others %}