{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
        <div>
            <h1><b>Services GO | BD</b></h1>
        </div>
        <!-- <div>
            <h2><b>Our Services</b></h2> -->
            <h3>We operate fastest parcel delivery network consisting fully integrated and self-owned vehicles like Bike, Covered Van, Cycle. Our built in transport management system enables our customers to schedule pickups, track orders in real-time; manage returns and replacements with ease. We offer flexibility to customers through delivery time</h3>
            <h3><b>Delivery working Hour: 8:00 am – 10:00 pm.</b></h3>
            <table  class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th> Premium Services </th>
                        <th> Corporate Services </th>
                    </tr>
                </thead>
                    <tr>
                        <td>
                            <h3>Live Customer Service</h3>
                            <h3>Return Management</h3>
                            <h3>Cash on Delivery</h3>
                            <h3>Real-time tracking</h3>
                            <h3>Warehouse Fulfillment </h3>
                        </td>
                        <td>
                            <h2><b></b></h2>
                            <h3>Large/Oversized Order Delivery</h3>
                            <h3>High-value Product Delivery</h3>
                            <h3>Fragile/Sensitive Goods Delivery</h3>
                            <h3>Warehouse fulfillment</h3>
                        </td>
                    </tr>
            </table>
            <table  class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th> On Demand Delivery </th>
                        <th> Same Day Delivery </th>
                        <th> Next Day Delivery </th>
                    </tr>
                </thead>
                    <tr>
                        <td>
                            <b>Product/Parcel will be delivered within 3 Working hours after Picking up.</b>
                            <h5>1.Returns Management</h5>
                            <h5>2.Cash on Delivery</h5>
                            <h5>3.Real-time tracking</h5>
                            <h5>4.with Live Customer Service</h5>
                        </td>
                        <td>
                            <b>Product/Parcel will be delivered within 12 Working hours after Picking up.</b>
                            <h5>1.Returns Management</h5>
                            <h5>2.Cash on Delivery</h5>
                            <h5>3.Real-time tracking</h5>
                            <h5>4.with Live Customer Service</h5>
                        </td>
                        <td>
                            <b>Product/Parcel will be delivered within 24 Working hours after Picking up.</b>
                            <h5>1.Returns Management</h5>
                            <h5>2.Cash on Delivery</h5>
                            <h5>3.Real-time tracking</h5>
                            <h5>4.with Live Customer Service</h5>
                        </td>
                    </tr>
            </table>
        </div>

        <div>

        </div>

        <div>
            <h2><b>Golden Client</b></h2>
            <h3>When the amount of your order volume will mark 100 per day, you would become the “Golden Client”. The price will depend on the weight and dimension of the product.</h3>
        </div>
        <div>
            <h2><b>Diamond Client</b></h2>
            <h3>We will pick your product from anywhere of Bangladesh when your order volume reaches at 500 per day.</h3>
        </div>
    </div>
    </div>
    <br><br><br><br>
{% endblock content %}

{% block others %}
<br><br>
{% endblock others %}