{% extends 'index.html' %}
{% load static %}


{% block content %}
    <br><br><br><br>
    <div class="row">
        <div>
            <h1><b>Why GO | BD</b></h1>
        </div>
        <div>
            <h3>Sellers often face tremendous problems on product delivery and Return products. Varieties of issues being raised in the delivery process every day. To keep such troubles from happening and to smooth up the process from product “Pick” to “Delivery” and further “Returns”, we have brought up a complete live customer service (Live CS) which will enable the connectivity between sellers, the courier and the buyer.</h3>
        </div>

        <div>
            <h3>When we say on demand delivery, we undoubtedly do mean that. Keeping our words is the main priority to us, completely knowing the value of the commitment of a Seller to the Buyer. A commitment of our partner certainly is the commitment of our very own. Thus, we want to bring the complete satisfied customer experiences with zero flows.  GOBD’s tally and sampling service sees the highest standards of quality control, ensuring comprehensive shipping management and stocktake regardless of scale and volume. Comprehensive coverage for goods in transit can be enhanced to include the likes of storage and consolidation risk, offering our clients thorough security and peace of mind.</h3>
        </div>

        <div>
            <h3>Logistics indeed is about getting the right product, to the right customer, in the right quantity, in the right condition, at the right place, at the right time, and at the right cost. Riders play the biggest role in it; they represent the courier and also can be a channel of branding of sellers. Our trained and skilled riders will be ready to deliver your product with the best safety measurement and professional approach.</h3>
        </div>

        <div>
            <h3>For instant issue resolution, our dedicated IR team will be assisting the whole process when there is needed.  These solutions include Order Management, Distribution & Fulfillment.</h3>
        </div>
    </div>
    <br><br><br><br>
{% endblock content %}

{% block others %}
<br><br>
{% endblock others %}